@page
@model WebAppRazor.Pages.BookingModel
@{
    ViewData["Title"] = "Book a table";
}
<div class="page-background">
    <img class="page-bg-img" src="Images/Book_page.jpg" />
    <div class="page-card">
        <a class="nav-link" href="https://www.thefork.com" target="_blank">Make a Reservation</a>
        Do you want to book a table for more than 10 people ?<a class="nav-link" asp-page="/contact">Please contact us</a>
    </div>
</div>
