@page
@model WebAppRazor.Pages.ContactModel
@{
    ViewData["Title"] = "Contact us!";
}

<div class="page-background">
    <img class="page-bg-img contact-img" src="Images/Contact_background.jpg" />
    <div class="page-card contact-text">
        Have a question or want to make a reservation for more than 10 people? Feel free to reach out! 
        <div class="contact-info">
            <div>Address:Linnegatan 21, 41304 Göteborg</div>
            <div>Phone:+46 72-00 00 00</div>
            <div>Email:info@comiste.com</div>
        </div>
    </div>
</div>