@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@await Html.PartialAsync("Partials/_HeroPartial")

<div class="text-index">
    <nav class="nav-list">
        <a class="nav-link" asp-page="/menu">Menu</a>
        <a class="nav-link" asp-page="/booking">Book a table</a>
        <a class="nav-link" asp-page="/contact">Contact</a>
    </nav>
</div>
