@page
@model WebAppRazor.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div class="page-background">
    <img class="page-bg-img" src="Images/Menu_background.jpg" />
    <nav class="page-card nav-list-menu">
        <a href="images/Menu-eng.png" target="_blank" class="nav-link">Menu</a>
        <a href="images/Menu-eng.png" target="_blank" class="nav-link">Menu (Eng)</a>
        <a href="images/Drink-menu.png" target="_blank" class="nav-link">Drinks</a>    
    </nav>
</div>


